{% include 'exam/header.html.twig' %}

<h2>Om projektet</h2>
Projektet som visas upp på denna hemsida handlar om visualisering av indikationer för hållbar utveckling med fokus på nationella utsläpp av växthusgaser per bransch mellan år 2008-2016 i Sverige.<br>
<br>
Jag valde att presentera datan på ett neutralt sätt med hjälp av Symfony UX Chart.js. Texten på förstasidan är utformad från UNDPs globalamålen.se sida. Den texten kan tolkas ha viss vinkling då den är skriven utfrån UNDPs perspektiv. Dock är det viktigt att se klimathoten mot vår jord som allmän fakta och därför är texten utformad som den är. Syftet med sidan och projektet är att visa upp hur trenden ser ut inom olika ekonomiska områden i Sverige. Läsaren har möjlighet att se på datan ur sitt egna perspektiv och syftet är att väcka ett intresse och en förståelse för hur utsläppen sett ut i Sverige över tid. Det går också att gå ner djupare per år och se datan presenterad i bardiagram samt få en översikt med hjälp av en Pie chart per årsdata.
<br>
<br>
Valet att presentera datan med just dessa diagram var för att skapa flera sätt att kolla på datan och läsaren kan då skapa sig bra uppfattning om hur datan ser ut för hållbar utveckling med fokus på nationella utsläpp av växthusgaser per bransch mellan år 2008-2016 i Sverige. 
<br>
<br>
<h4>Dokumentation</h4>
<a href="https://www.student.bth.se/~albi21/dbwebb-kurser/mvc/me/report/docs/api/index.html">Dokumentation phpdoc</a><br>
<a href="https://www.student.bth.se/~albi21/dbwebb-kurser/mvc/me/report/docs/metrics/index.html">Rapport phpmetrics</a><br>
<a href="https://github.com/alessiobas/mvc">GitHub repo</a><br>
<a href="https://scrutinizer-ci.com/g/alessiobas/mvc/">Scrutinizer</a><br>

<h4>Projektets kodkvalité</h4>



{% include 'exam/footer.html.twig' %}