{% include 'exam/header.html.twig' %}

<h2>Om projektet</h2>
Projektet som visas upp på denna hemsida handlar om visualisering av indikationer för hållbar utveckling med fokus på nationella utsläpp av växthusgaser per bransch, territorium och ekonomisk utveckling mellan år 2008-2016.<br>
<br>
En hållbar utveckling är en utveckling som tillfredsställer dagens behov utan att äventyra kommande generationers möjligheter att tillfredsställa sina behov.
Hållbar utveckling innehåller aspekter inom såväl miljöområdet som den sociala och ekonomiska utvecklingen. Det finns många försök att genom indikatorsystem eller aggregerade mått designa mått för hållbar utveckling.
<br>
<br>
Klimatförändringarna är ett verkligt och obestridligt hot mot hela vår civilisation. Utsläppen av växthusgaser fortsätter att stiga och som följd riskerar vi att nå en genomsnittlig global uppvärmning som överstiger två grader, vilket skulle få allvarliga konsekvenser för ekosystem, havsförsurning, mänsklig säkerhet, matproduktion, vattentillgång, hälsa och ökad risk för naturkatastrofer.
<br>
<br>
Effekterna är redan nu synliga och kommer att bli katastrofala såvida vi inte agerar nu. Genom utbildning, innovation och efterlevnad av våra klimatförpliktelser kan vi göra nödvändiga förändringar för att skydda planeten. Dessa förändringar ger också stora möjligheter att modernisera vår infrastruktur som kommer att skapa nya arbetstillfällen och främja välstånd över hela världen.
<br>
<br>
På denna sida summeras utsläpp av växthusgaser från svenska ekonomiska aktörer i tusen ton koldioxidekvivalenter varannat år mellan 2008-2016, utsläpp av växthusgaser, territoriella, i tusen ton kodioxidekvivalenter varannat år mellan 2008-2016 samt BNP, fasta priser, år 2008-2016.
<br>
<br>
Källor: 
<br>globalamålen.se som drivs av UNDP med stöd från Sida.
<br>Statistikmyndigheten SCB
<br>
<br>
<h4>Dokumentation</h4>
<br>
<h4>Projektets kodkvailté</h4>

{% include 'exam/footer.html.twig' %}