{% include 'exam/header.html.twig' %}
<div>
{{ render_chart(chart) }}
</div>
{# You can pass HTML attributes as a second argument to add them on the <canvas> tag #}
{{ render_chart(chart, {'class': 'my-chart'}) }}
{% include 'exam/footer.html.twig' %}