{% include 'exam/header.html.twig' %}

<h2>Databasåterställningen lyckades!</h2>
<a href="http://www.student.bth.se/~albi21/dbwebb-kurser/mvc/me/report/public/proj">Återgå till startsidan!</a>

{% include 'exam/footer.html.twig' %}