{% extends "base.html.twig" %}

{% block title %}Game 21 home{% endblock %}

{% block content %}
<div class="deck">
<p>
Tjugoett är ett kortspel som är den svenska motsvarigheten till det internationellt spridda kortspelet Black Jack. De viktigaste skillnaderna mellan dessa två spel är dels kortens värde, dels att bankiren i tjugoett spelar mot en spelare i taget och inte som i Black Jack mot alla på en gång.
</p>
<p>
Spelets idé är att med två eller flera kort försöka uppnå det sammanlagda värdet 21, eller komma så nära som möjligt utan att överskrida 21. Essen är värda valfritt 1 eller 14, kungarna 13, damerna 12, knektarna 11. Nummerkorten har samma värden som valören. 
</p>

<a href="{{ path("card-home") }}">Start game</a>

</div>

{% endblock %}