{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}

<h1>About</h1>
<img src="img/about.png" width="400px" lenght="320px" alt="albi">
<p class="important">
Inom kursen "mvc" döljer sig objektorienterad PHP-programmering med kända webbramverk, enhetstestning, kodkvalitet och databaskopplingar med objekt relational mapping (ORM).
</p>

{% endblock %}