{% extends 'base.html.twig' %}

{% block title %}Add book to the library{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form method="post">

    <label for="_title">Title:</label><br>
    <input type="text" name="_title"><br>

    <label for="_author">Author:</label><br>
    <input type="text" name="_author"><br><br>

    <label for="_isbn">ISBN:</label><br>
    <input type="text" name="_isbn"><br><br>

    <label for="_imageUrl">Image URL:</label><br>
    <input type="text" name="_imageUrl"><br><br>

    <input type="submit" value="Submit">

    </form>
</div>

{% endblock %}